<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header *ngIf="creationMode">
                CREAR PARTIDO POLITICO
            </nb-card-header>
            <nb-card-header *ngIf="!creationMode">
                ACTUALIZAR PARTIDO POLITICO
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Nombre</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="number" class="form-control" [disabled]="!creationMode"
                            [(ngModel)]="politicalparty.nombre" />
                        <p *ngIf="sendingAttemp && politicalparty.nombre==null">Requerido</p>
                    </div>
                    <div class="col-lg-3">
                        <label>Lema</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="number" class="form-control" [(ngModel)]="politicalparty.lema" />
                        <p *ngIf="sendingAttemp && politicalparty.lema==null">Requerido</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <button *ngIf="creationMode" class="btn btn-primary btn-block" (click)="create()">
                        Crear
                    </button>
                    <button *ngIf="!creationMode" class="btn btn-primary btn-block" (click)="edit()">
                        Actualizar
                    </button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>